<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                           http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">

    <context:property-placeholder location="classpath:config.properties"/>

    <bean id="messageEmailConfigCache" class="com.jingrui.jrap.cache.impl.MessageEmailConfigCache">
        <property name="name" value="message_email_config"/>
    </bean>

    <bean id="messageTemplateCache" class="com.jingrui.jrap.cache.impl.MessageTemplateCache">
        <property name="name" value="message_template"/>
    </bean>

    <!-- email发送服务器-->
    <bean id="mailSender" class="com.jingrui.jrap.mail.MailSender" scope="prototype">
        <property name="environment" value="${env.code}"/>
        <!-- <property name="tryTimes" value="${email.tryTimes}"/>
        <property name="host" value="${email.host}" />
        <property name="port" value="${email.port}" /> -->
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
            </props>
        </property>
    </bean>
</beans>
