<#include "../include/header.html">

<style type="text/css">
    .container {
        font-size: 14px;
        margin-bottom: 50px;
    }
    .title{
        text-align: center;
        margin-bottom: 50px;
    }

    .clear {
        zomm: 1;
    }

    .clear:after {
        content: "";
        height: 0;
        visibility: hidden;
        overflow: hidden
        clear: both;
    }

    .buildEndTime {
        float: left;
        height: 20px;
        line-height: 20px;
    }

    .batNo {
        float: right;
        height: 20px;
        line-height: 20px;
    }

    .report-tit {
        height: 20px;
        margin-top: 10px;
    }

    .info-container {
        margin: 30px auto;
    }

    .info-container .info-tit {
        height: 32px;
        line-height: 32px;
        font-size: 18px;
        color: blueviolet;
    }

    .info-container .info-tit-line {
        display: inline-block;
        width: 5px;
        height: 100%;
        margin-right: 10px;;
        background: blueviolet;
    }

    .info-container .info-line {
        height: 2px;
        width: 100%;
        background: blueviolet;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: normal;
    }

    .info-con {
        font-size: 14px;
        padding-top: 5px;
        border: none;
        background-color: #fff;
    }


    .table-con {
        color: #0a0a0a;
        margin: 10px auto 20px;
    }

    .table-con p {
        padding-left: 5px;
        font-size: 14px;
        margin-bottom: 5px;
        background-color: #fff;
    }
    .table-con .item_title{
        font-size: 16px;
    }
    .table-con .item_detail{
        background-color: #f0f0f0;
        padding: 10px;
    }

    table td, table th {
        text-align: center;
        font-weight: normal;
    }

    table th {
        background-color: #f0f0f0;
    }

    .red{
        color: red;
    }
    .green{
        color:green;
    }
    .blue{
        color:blue;
    }
    .summarize{
        font-size: 16px;
        color: #000;
        background-color: #f0f0f0;
        padding: 10px 15px;
    }
    .item_details{
        padding: 10px 15px;
        text-align: center;
    }


</style>
<script type="text/javascript">
    var customerId='${RequestParameters.customerId!-1}';
    var evaluateId='${RequestParameters.evaluateId!-1}';
    var newViewModel = kendo.observable({
        model: {
        }
    });
    var data;
    $.ajax({
        url: '${base.contextPath}/afd/customer/evaluate/query?customerId='+customerId+'&evaluateId='+evaluateId,
        type: "get",
        dataType: "json",
        contentType: "application/json",
        async: false,
        success: function (res) {
            data= $.parseJSON( res.rows[0].remark );
        },
        error: function (error) {
            kendo.ui.showInfoDialog({
                message: error.message
            });
        }
    });
    for (var k in data) {
        newViewModel.model.set(k, data[k]);
    }

    console.log(data);

</script>
<body>

<div class="container" id="container">
    <h2 class="title">个人信息报告</h2>
    <div class="report-tit clear">
        <div class="buildEndTime">查询时间：<span ></span></div>
        <div class="batNo">报告编号：<span data-bind="text:model.report_id"></span></div>
    </div>


    <div class="info-container">
        <div class="info-tit clear">
            <span class="info-tit-line">|</span>
            <span class="info-tit-text">贷前审核报告综述</span>
        </div>
        <div class="info-line"></div>
        <div  class=" info-con">
            <div class="summarize">
                <p class="suggestion">
                    扫面建议：得分为<span data-bind="text:model.final_score"></span>分，申请用户检测出<span class="riskLevel red"></span>风险，
                    <span class="final_decision red"></span>。
                </p>
                <p>共发现<span class="errorTotal red"></span>条异常信息</p>
            </div>
        </div>
    </div>
    <div class="info-container riskDetails">
        <div class="info-tit clear">
            <span class="info-tit-line">|</span>
            <span class="info-tit-text">贷前风险信息扫描详情</span>
        </div>
        <div class="info-line"></div>
    </div>
</div>


<script type="text/javascript">
    kendo.bind($('#container'), newViewModel);
    
    function timeTwo(n) {
        if(n<10){
            return "0"+n;
        }else{
            return n;
        }
    }
    function timeFormat(time) {
        var date=new Date(time);
        var y = date.getFullYear();
        var month = date.getMonth()+1;
        var d= date.getDate();
        var h = date.getHours();
        var minute = date.getMinutes();
        var s=date.getSeconds();
        return  ""+y+":"+(timeTwo(month))+":"+(timeTwo(d))+"  "+(timeTwo(h))+":"+(timeTwo(minute))+":"+(timeTwo(s));
    }

    function getRiskLevel(s){
        var result="";
        if(s>75){
            result="高危";
        }else if(s<50){
            result="低"
        }else{
           result="中"
        };
        return result;
    }
    function getSuggest(s){
        var suggest="";
        switch (s) {
            case "Accept":
                suggest="建议通过";
                break;
            case "Review":
                suggest="建议审核";
                break;
            case "Reject":
                suggest="建议拒绝";
                break;
            default:
                suggest="无";
        }
        return suggest;
    }


    $(".buildEndTime span").html(timeFormat(newViewModel.model.report_time));
    $(".riskLevel").text(getRiskLevel(newViewModel.model.final_score));
    $(".final_decision").text(getSuggest(newViewModel.model.final_decision));
    $(".errorTotal").text(newViewModel.model.risk_items.length);

    var items= newViewModel.model.risk_items;
    var str='<div class="table-con"><table border="1" width="100%" align="center">' +
        '<tr><th width="25%" height="40px" valign="middle">检查项目</th>' +
        '<th width="10%">风险等级</th>' +
        '<th width="65%">备注</th>' +
        '</tr>';
    for(var i=0,len=items.length;i<len;i++){

        var item_name=items[i].item_name;
        if(item_name.indexOf("在网时长为")>-1){
            item_name="在网时长";
        }

        str+='<tr><td height="40px" valign="middle">'+item_name+'</td>' ;
        if(items[i].score>75){
            str+='<td class="red">'+getRiskLevel(items[i].score)+'</td>';
        }else if(items[i].score<50){
            str+='<td class="green">'+getRiskLevel(items[i].score)+'</td>';
        }else{
            str+='<td class="blue">'+getRiskLevel(items[i].score)+'</td>';
        }

        if(items[i].item_detail){
            var item=items[i].item_detail;
            if(item.type=="platform_detail"){
                str+='<td class="item_details">'+item.platform_detail.join(";")+'</td>';
            }else if(item.namelist_hit_details){
                str+='<td class="item_details">'
                for(var j=0,len2=item.namelist_hit_details.length;j<len2;j++){
                    var type=item.namelist_hit_details[j].type;
                    if(type=="black_list" ){
                        if(item.namelist_hit_details[j].fraud_type=='法院结案、法院结案'){
                            var court_details = item.namelist_hit_details[j].court_details;
                            for(var m=0,len3=court_details.length;m<len3;m++){
                                str+='<p>风险类型:'+court_details[m].fraud_type+';' +
                                    '立案时间:' +court_details[m].filing_time+';' +
                                    '执行法院:' +court_details[m].court_name+';' +
                                    '做出执行依据单位:' +court_details[m].execution_department+';' +
                                    '生效法律文书确定的义务:' +court_details[m].duty+';' +
                                    '被执行人的履行情况:' +court_details[m].situation+';' +
                                    '失信被执行人行为具体情形:' +court_details[m].discredit_detail+';' +
                                    '执行依据文号:' +court_details[m].execution_base+';' +
                                    '案号:' +court_details[m].case_number+',' +
                                    '执行状态:' +court_details[m].execution_status+';' +
                                    '</p>';
                            }
                        }else{
                            str+=item.namelist_hit_details[j].hit_type_displayname;
                        }
                    }else if(type=="grey_list"){
                        str+=item.namelist_hit_details[j].fraud_type;
                    }else if(type=='fuzzy_list'){
                        str+='风险类型:'+item.namelist_hit_details[j].fuzzy_detail_hits[0].fraud_type+
                            ';模糊身份证:'+item.namelist_hit_details[j].fuzzy_detail_hits[0].fuzzy_id_number+';' +
                            '姓名:' +item.namelist_hit_details[j].fuzzy_detail_hits[0].fuzzy_name+'。';
                    }
                }
                str+='</td>'
            }else if(item.type=="frequency_detail"){
                var frequency_detail_list=item.frequency_detail_list;
                str+='<td class="item_details">';
                for(var i4=0,len4=frequency_detail_list.length;i4<len4;i4++){
                    str+='<p>'+frequency_detail_list[i4].detail+';'
                   if(frequency_detail_list[i4].data){
                       var data5=frequency_detail_list[i4].data;
                       str+="分别为：";
                       for(var i5=0,len5=data5.length;i5<len5;i5++){
                            str+='('+(i5+1)+').'+data5[i5]+';';
                       }
                    }
                    str+='</p>'
                }
                str+='</td>';
            }else if(item.type=="discredit_count"){
                var overdue_details=item.overdue_details;
                str+='<td class="item_details"> <p>失信次数：'+item.discredit_times+'</p>';

                for(var i6=0,len6=overdue_details.length;i6<len6;i6++){
                    str+='<p>逾期笔数:'+overdue_details[i6].overdue_count+';'+
                        '逾期金额:'+overdue_details[i6].overdue_amount_range+';'+
                        '逾期天数:'+overdue_details[i6].overdue_day_range+';'+
                        '逾期入库时间:'+overdue_details[i6].overdue_time+';</p>';
                }
                str+='</td>';
            }else if(item.type=="assoc_risk_score"){
                   str+='<td>匹配字段值：'+item.assoc_risk_score_detail[0].dim_value+'； 得分:'+item.assoc_risk_score_detail[0].node_score+'。</td>'
            }else if(item.type=="custom_list"){
                if(item.high_risk_areas){
                    str+='<td>高风险区域：'+(item.high_risk_areas.join(","))+'</td>'
                }else{
                    str+='<td>'+items[i].item_name+'</td>'
                }
            }
        }else{
            var item_name2=items[i].item_name;
            if(item_name2.indexOf("在网时长为")>-1){
                var onlineArr=item_name2.split("为");
                var time=onlineArr[1];
                var onlineStr="在网时长";
                if(time=="(6,12]"){
                    onlineStr+="大于6个月，小于等于12个月";
                }else if(time=="(0,6]"){
                    onlineStr+="小于等于6个月";
                }else if(time=="(12,24]"){
                    onlineStr+="大于12个月，小于等于24四个月";
                }else{
                    onlineStr+="大于24个月";
                }
                str+='<td>'+onlineStr+'</td>'

            }else{
                str+='<td>'+item_name2+'</td>'
            }
        }
        str+='</tr>';
    }
    str+='</table></div>';

    $(".riskDetails").append(str);




</script>

</body>
</html>