<#include "../include/header.html">
<script type="text/javascript">
    var viewModel = Jrap.createGridViewModel("#grid",{
        model: {"detailId":"${RequestParameters.detailId}",
                "ruleCode":"${RequestParameters.ruleCode}",
                "ruleId":"${RequestParameters.ruleId}"}});
</script>
    <script src="${base.contextPath}/common/code?sysAuthority=SYS.AUTHORITY_ROLE&codeYesNo=SYS.YES_NO"
            type="text/javascript"></script>
<body>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "jrap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "jrap.save"/></span>
        <span  data-bind="click:remove" class="btn btn-danger" style="float:left;"><@spring.message "jrap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div class="pull-right" id="query-form" style="padding-bottom:10px;">
        <div style="clear:both"></div>
    </div>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>

<script type="text/javascript">
    Jrap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/sys/data/permission/rule/assign/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/sys/data/permission/rule/assign/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/sys/data/permission/rule/assign/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/sys/data/permission/rule/assign/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Jrap.prepareSubmitParameter(options, type)
                    for (var i = 0; i < options.models.length; i++) {
                        options.models[i].detailId = "${RequestParameters.detailId}";
                        options.models[i].ruleCode = "${RequestParameters.ruleCode}";
                        options.models[i].ruleId = "${RequestParameters.ruleId}";
                    }
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Jrap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "assignId",
                fields: {
                    assignField: {validation: {required: true}},
                    assignFieldValue: {validation: {required: true}},

                }
            }
        }
    });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        height:420,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
                    {
                field: "assignField",
                title: '<@spring.message "datapermissionruleassign.assignfield"/>',
                width: 120,
                        template: function (dataItem) {
                            var v = dataItem.assignField || '';
                            $.each(sysAuthority, function (i, n) {
                                if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
                                    v = n.meaning;
                                    return false;
                                }
                            })
                            return v;
                        },
                        editor: function (container, options) {
                            $('<input required name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    dataTextField: "meaning",
                                    dataValueField: "value",
                                    valuePrimitive: true,
                                    dataSource: sysAuthority,
                                    select:function (e) {
                                        options.model.set("assignFieldName",null);
                                        options.model.set("assignFieldValue",null);
                                    }
                                });
                        }
            },
                    {
                field: "assignFieldValue",
                title: '<@spring.message "datapermissionruleassign.assignFieldValue"/>',
                width: 120,
                        template: function (dataItem) {
                            return dataItem['assignFieldName']
                                || ''
                        },
                        editor: function (container, options) {
                            $('<input  required  name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoLov({
                                    code: options.model.assignField,
                                    contextPath: _basePath,
                                    locale: _locale,
                                    model: options.model,
                                    textField: "assignFieldName",
                                });
                        }
            },

        ],
        editable: true
    });

</script>
</body>
</html>