<#include "../include/header.html">
<script src="${base.contextPath}/common/code?ADDITIONAL_FLAG=PERIODS.ADDITIONAL_FLAG" type="text/javascript"></script>
<script type="text/javascript">
    var viewModel = Jrap.createGridViewModel("#grid");
    var newViewModel = new kendo.observable({
        model: {}
    });
    var setCode = '${RequestParameters.setCode!}';
    var additionalFlag = '${RequestParameters.additionalFlag!}';
    newViewModel.model.set("setCode",setCode);
    newViewModel.model.set("additionalFlag",additionalFlag);
</script>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><@spring.message "jrap.new"/></span>
        <span class="btn btn-success k-grid-save-changes" data-bind="click:save" style="float:left;margin-right:5px;"><@spring.message "jrap.save"/></span>
        <span  data-bind="click:remove" class="btn btn-danger" style="float:left;margin-right:5px;"><@spring.message "jrap.delete"/></span>
        <span class="btn btn-primary k-grid-add" style="float:left" onclick="newWin()"><@spring.message "创建期间"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div style="clear:both">
        <div id="grid"></div>
    </div>
</div>
<div id="newWin2" style="display: none">
    <form class="form-horizontal" id="form">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "periods.setcode"/></label>
                    <div class="col-xs-8">
                        <input type="text" id="setCode"
                               style="width:100%;" class="k-textbox"  readonly
                               data-bind="value:model.setCode">
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label" style="text-align: right"><@spring.message "periodsets.additionalflag"/></label>
                    <div class="col-xs-8">
                        <input type="text" id="additionalFlag"
                               style="width:100%;"    readonly
                               data-bind="value:model.additionalFlag">
                        <script>
                            $("#additionalFlag").kendoComboBox({
                                dataTextField: "meaning",
                                dataValueField: "value",
                                dataSource:ADDITIONAL_FLAG
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "年度从"/></label>
                    <div class="col-xs-8">
                        <input type="text" id="yearFrom"
                               style="width:100%;" class="k-textbox"  required
                               data-bind="value:model.yearFrom">
                    </div>
                </div>
            </div>

            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "年度至"/></label>
                    <div class="col-xs-8">
                        <input type="text" id="yearTo"
                               style="width:100%;" class="k-textbox"  required
                               data-bind="value:model.yearTo">
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="text-align: center">
            <button id="button" class="btn btn-success"  style=" margin-right: 5%;border-radius: 3px;width: 100px;"   type="button">提交</button>
        </div>
    </form>
    <script>kendo.bind($('#form'), newViewModel);</script>
</div>
<script type="text/javascript">
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/fin/period/rules/selectOptions",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/fin/period/rules/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/fin/period/rules/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/fin/period/rules/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Jrap.prepareSubmitParameter(options, type);
                    for(var i=0;i<datas.length;i++){
                        datas[i].setCode=setCode;
                    }
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    viewModel.model.set("setCode",setCode);
                    return Jrap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "setCode",
                fields: {
                    additionalName:{validation: {
                            required: true,
                        },},
                    periodNum:{type:"number", validation: {
                        required: true,
                        min: 1
                    },},
                    monthFrom:{type:"number",validation: {
                            required: true,
                            min: 1
                        },},
                    monthTo:{type:"number",validation: {
                            required: true,
                            min: 1
                        },},
                    dateFrom:{type:"number",validation: {
                            required: true,
                            min: 1
                        },},
                    dateTo:{type:"number",validation: {
                            required: true,
                            min: 1
                        },},
                    quarterNum:{type:"number",validation: {
                            required: true,
                            min: 1
                        },},
                    adjustmentFlag:{defaultValue: 'N', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'}
                }
            }
        }
    });

var grid = $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            {
                field: "additionalName",
                title: '<@spring.message "periodrules.additionalName"/>',
                width: 120
            },
            {
                field: "monthFrom",
                title: '<@spring.message "periodrules.monthfrom"/>',
                width: 120
            },
            {
                field: "monthTo",
                title: '<@spring.message "periodrules.monthto"/>',
                width: 120
            },
            {
                field: "dateFrom",
                title: '<@spring.message "periodrules.dateFrom"/>',
                width: 120
            },
            {
                field: "dateTo",
                title: '<@spring.message "periodrules.dateTo"/>',
                width: 120
            },
            {
                field: "quarterNum",
                title: '<@spring.message "periods.quarternum"/>',
                width: 120
            },
            {
                field: "adjustmentFlag",
                title: '<@spring.message "periods.adjustmentflag"/>',
                width: 120,
                headerAttributes: {
                    style: "text-align: center"
                },
                attributes: {style: "text-align:center"},
                sortable: false
            },
            {
                field: "periodNum",
                title: '<@spring.message "periods.periodnum"/>',
                width: 120
            },
        ],
        editable: true
    }).data("kendoGrid");

    var validator = $("#form").kendoValidator({
        invalidMessageType : "tooltip"
    }).data("kendoValidator");

   // 创建期间
   function newWin() {
       var win = $("#newWin2").data("kendoWindow");
       win.center().open();
   }

    $("#newWin2").kendoWindow({
        actions: ["Close"],
        title: '创建期间',
        draggable: true,
        height: "400px",
        width: "600px",
        resizable: false,
        modal: true,
        //初始化时设置为隐藏状态
        visible: false,
        close: onClose
    });
    function onClose() {
        var formData = newViewModel.model.toJSON();
        for (var k in formData) {
            newViewModel.model.set(k, null);
        }
    }
    // 提交
    $("#button").kendoButton({
        click: function (e) {
            if (validator.validate()) {
                newViewModel.model.set("rulesList",dataSource.data());
                $.ajax({
                    url: '${base.contextPath}/fin/periods/creatPeriods',
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    data: kendo.stringify(newViewModel.model),
                    success: function (args) {
                        if (args.success === false) {
                            kendo.ui.showErrorDialog({
                                title: $l('jrap.error'),
                                message: args.message
                            });
                        } else {
                            kendo.ui.showInfoDialog({
                                title: $l('jrap.tip.info'),
                                message: $l('jrap.tip.success')
                            });
                            $("#newWin2").data("kendoWindow").close();
                        }
                    }
                });
            }
        }
    })
</script>
</body>
</html>