<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingrui.jrap.activiti.mapper.TaskMapper">

    <resultMap id="taskResultMap" type="org.activiti.engine.impl.persistence.entity.TaskEntityImpl">
        <id property="id" column="ID_" jdbcType="VARCHAR"/>
        <result property="revision" column="REV_" jdbcType="INTEGER"/>
        <result property="name" column="NAME_" jdbcType="VARCHAR"/>
        <result property="parentTaskId" column="PARENT_TASK_ID_" jdbcType="VARCHAR"/>
        <result property="description" column="DESCRIPTION_" jdbcType="VARCHAR"/>
        <result property="priority" column="PRIORITY_" jdbcType="INTEGER"/>
        <result property="createTime" column="CREATE_TIME_" jdbcType="TIMESTAMP" />
        <result property="owner" column="OWNER_" jdbcType="VARCHAR"/>
        <result property="assignee" column="ASSIGNEE_" jdbcType="VARCHAR"/>
        <result property="delegationStateString" column="DELEGATION_" jdbcType="VARCHAR"/>
        <result property="executionId" column="EXECUTION_ID_" jdbcType="VARCHAR" />
        <result property="processInstanceId" column="PROC_INST_ID_" jdbcType="VARCHAR" />
        <result property="processDefinitionId" column="PROC_DEF_ID_" jdbcType="VARCHAR"/>
        <result property="taskDefinitionKey" column="TASK_DEF_KEY_" jdbcType="VARCHAR"/>
        <result property="dueDate" column="DUE_DATE_" jdbcType="TIMESTAMP"/>
        <result property="category" column="CATEGORY_" jdbcType="VARCHAR" />
        <result property="suspensionState" column="SUSPENSION_STATE_" jdbcType="INTEGER" />
        <result property="tenantId" column="TENANT_ID_" jdbcType="VARCHAR" />
        <result property="formKey" column="FORM_KEY_" jdbcType="VARCHAR" />
        <result property="claimTime" column="CLAIM_TIME_" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="selectTaskDueDateNotNull"  resultMap="taskResultMap">
        SELECT * FROM ACT_RU_TASK WHERE DUE_DATE_ IS NOT NULL
    </select>


</mapper>