<?xml version="1.0" encoding="UTF-8" ?>

<!--
  ~ /**
  ~ * @file com.maddyhome.idea.copyright.pattern.FileInfo@2804f652$
  ~ * @CopyRight (C) 2018 ZheJiangJingRui Co. Ltd.
  ~ * @brief JingRui Application Platform
  ~ * @author $name$
  ~ * @email yulong.yuan@jr-info.cn
  ~ * @date $date$
  ~ */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.change.mapper.ContactMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.change.dto.Contact">
        <result column="CONTACT_ID" property="contactId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="GOOD_ID" property="goodId" jdbcType="DECIMAL" />
        <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
        <result column="CELLPHONE" property="cellphone" jdbcType="VARCHAR" />
        <result column="CELLPHONE02" property="cellphone02" jdbcType="VARCHAR" />
        <result column="CELLPHONE03" property="cellphone03" jdbcType="VARCHAR" />
        <result column="ID_TYPE" property="idType" jdbcType="VARCHAR" />
        <result column="ID_NUMBER" property="idNumber" jdbcType="VARCHAR" />
        <result column="SOURCE_TYPE" property="sourceType" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>