<#--
* description: 快速编码界面
* version: 1.0
*
-->
<#include "../../include/header.html">
<body>
<div id="content-container">
    <div id="page-content">
        <div class="panel">
            <form class="form-horizontal">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">请假天数</label>
                            <div class="col-sm-6">
                                <input type="text" data-bind="value:model.numberOfDays" class="k-textbox" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">开始时间</label>
                            <div class="col-sm-6">
                                <input data-role="datetimepicker" data-bind="value:model.startDate" class="k-datetimepicker" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">事由</label>
                            <div class="col-sm-6">
                                <input type="text" data-bind="value:model.vacationMotivation" class="k-textbox" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>


    function validate() {
        alert('//TODO 执行表单校验')
        return true;//REQUIRED
    }


    function getFormProperties() {
        return viewModel.model.toJSON()
    }

    $(document).ready(function () {

        var model = {};

        $.each(parent.currentTaskInfo.executionVariables || [], function (i, r) {
            model[r.name] = r.value;
        })

        window.viewModel = kendo.observable({
            model: model
        });

        kendo.bind($('#page-content'), viewModel);


    });


</script>
</body>
</html>