<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.item.mapper.ItemAllocateMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.item.dto.ItemAllocate">
        <result column="ALLOCATE_ID" property="allocateId" jdbcType="DECIMAL" />
        <result column="ALLOCATE_CODE" property="allocateCode" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="ITEM_ID" property="itemId" jdbcType="DECIMAL" />
        <result column="FROM_WAREHOUSE_ID" property="fromWarehouseId" jdbcType="DECIMAL" />
        <result column="FROM_UNIT_ID" property="fromUnitId" jdbcType="DECIMAL" />
        <result column="FROM_EMPLOYEE_ID" property="fromEmployeeId" jdbcType="DECIMAL" />
        <result column="FROM_DATE" property="fromDate" jdbcType="DATE" />
        <result column="TO_WAREHOUSE_ID" property="toWarehouseId" jdbcType="DECIMAL" />
        <result column="TO_UNIT_ID" property="toUnitId" jdbcType="DECIMAL" />
        <result column="TO_EMPLOYEE_ID" property="toEmployeeId" jdbcType="DECIMAL" />
        <result column="TO_DATE" property="toDate" jdbcType="DATE" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>