<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>${SYS_TITLE!'JingRui Application Platform'}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="${base.contextPath}/lib/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="${base.contextPath}/lib/font-awesome-4.6.3/css/font-awesome.css" rel="stylesheet" type="text/css"/>
    <link href="${base.contextPath}/lib/swiper/css/swiper.min.css" rel="stylesheet" type="text/css"/>
    <#include "include/components_css.html">
    <link href="${base.contextPath}/resources/css/login.css" rel="stylesheet" type="text/css" />
    <script src="${base.contextPath}/lib/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <link href="${base.contextPath}/resources/upload/favicon.png" rel="shortcut icon"/>
    <script>var _baseContext = '${base.contextPath}'</script>
    <script src="${base.contextPath}/lib/kendoui/js/jquery.placeholder.js"></script>
</head>

<style>
    input::-ms-clear{
        display:none;
    }
    .my-placeholder { color: #aaa; }
</style>
<body class=" login" >
<script>
    $(function() {
        if( ! ("placeholder" in document.createElement('input'))){
            $('input, textarea').placeholder({customClass:'my-placeholder'});
        }
    });
    function changeCaptchaCode() {
        $("#imgObj").attr("src", '${base.contextPath}/verifiCode?_r='+Math.random());
    }
</script>
<style>
    .user-login-5 input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
    }
</style>
<!-- BEGIN : LOGIN PAGE 5-1 -->


<div class="index-page" style="background-image: url(${base.contextPath}/resources/images/login/background.png)">
    <script>
        if(top.sessionExpiredLogin){
            top.sessionExpiredLogin();
            $('.index-page').hide();
        }
    </script>


    <!--导航栏-->
    <nav class="nav  ">
        <div class="navCenter container clear">
            <div class="logo">
                <img class="login-logo" src="${base.contextPath}/resources/upload/logo.png" />
            </div>
            <ul class="nav-header clear">
                <li class="active">
                    <a  href="#">首页</a>
                    <div class="activeLine"></div>
                </li>
                <li><a href="#feature">特点</a> <div class="activeLine"></div></li>
                <li><a href="#achievement">成果</a> <div class="activeLine"></div></li>
                <li><a href="#news">动态</a> <div class="activeLine"></div></li>
                <li><a href="#news">帮助中心</a> <div class="activeLine"></div></li>
            </ul>
        </div>
    </nav>

    <div class="top-index">

        <p class="bigData"><img src="${base.contextPath}/resources/images/login/bigdata.png"></p>
        <p class="pingtai"><img src="${base.contextPath}/resources/images/login/pingtai.png"></p>
        <p class="keji"><img src="${base.contextPath}/resources/images/login/keji.png"></p>

        <!--登录框-->
        <div class="log-index ">
            <p class="log_txt">用户登录</p>
            <form class="login-form" action="login" method="post" autocomplete="off">
                <div class="input-group">
                    <span class="glyphicon glyphicon-user" ></span>
                    <input class=" placeholder-no-fix" type="text"
                           autocomplete="off" placeholder="<@spring.message "user.username"/>"
                    name="username"  />
                </div>
                <div class="input-group">
                    <span class="glyphicon glyphicon-lock " ></span>
                    <input id="password" type="password" autocomplete="new-password" name="password"
                           class=" placeholder-no-fix <#if code! == "LOGIN_NOT_MATCH">error</#if>"
                    placeholder="<@spring.message "user.password"/>"   />
                </div>

                <!--<div class="clear ">
                    <a href="#" class="forget">忘记密码</a>
                </div>-->
                <#if ENABLE_CAPTCHA >
                <div class="input-group ver-code">
                    <span class="glyphicon glyphicon-lock " ></span
                    ><input class="  placeholder-no-fix <#if code! == 'CAPTCHA_INVALID'>error</#if>"  placeholder="<@spring.message 'user.verifiCode'/>" type="text" name="verifiCode" /
                    ><div class="verImg">
                    <img id="imgObj" title="<@spring.message 'sys.login.refreshverificationcode'/>" src="${base.contextPath}/verifiCode"  onclick="changeCaptchaCode()" /></div>

                </div>
                </#if>
                <div class="input-group submit-input">
                    <button class="btn" type="submit" ><@spring.message "jrap.login"/></button>
                </div>
            </form>
        </div>
    </div>




    <!--特点-->
    <div id="feature">
        <div class="container">
            <div class="con-head ">
                <h3 class="title">特点</h3>
                <div class="title-line"></div>
                <p class="title-txt">为有需要的企业提供供应链金融解决方案</p>
            </div>
            <ul class="fea-content clear" >
                <li>
                    <p class="fea-img"> <img src="${base.contextPath}/resources/images/login/fea1.png"></p>
                    <p class="fea-tit">风险管控</p>
                    <p class="fea-text">根据订单实时更新和管理融资额度
                    </p>
                </li>
                <li>
                    <p class="fea-img"> <img src="${base.contextPath}/resources/images/login/fea2.png"></p>
                    <p class="fea-tit">物流监控</p>
                    <p class="fea-text">根据订单实时更新和管理融资额度
                    </p>
                </li>
                <li>
                    <p class="fea-img"> <img src="${base.contextPath}/resources/images/login/fea3.png"></p>
                    <p class="fea-tit">资金管理</p>
                    <p class="fea-text">根据订单实时更新和管理融资额度
                    </p>
                </li>
                <li>
                    <p class="fea-img"> <img src="${base.contextPath}/resources/images/login/feature4.png"></p>
                    <p class="fea-tit">流程管理</p>
                    <p class="fea-text">根据订单实时更新和管理融资额度
                    </p>
                </li>
            </ul>
        </div>
    </div>

    <!--成果-->
    <div id="achievement">
    <div class="container">
        <div class="con-head ">
            <h3 class="title">成果</h3>
            <div class="title-line"></div>
            <p class="title-txt">供应链金融平台业务发展地区占比成果</p>
        </div>
        <div class="ach-content">
            <div id="mapBox" class="mapBox"></div>
            <div id="pieBox" class="pieBox"></div>
        </div>
    </div>
</div>

    <!--动态-->
    <div id="news">
        <div class="container">

            <div class="con-head ">
                <h3 class="title">动态</h3>
                <div class="title-line"></div>
                <p class="title-txt">供应链金融行业新闻动态</p>
            </div>
            <div class="news-content">
                <div class="news-cover">
                    <img src="${base.contextPath}/resources/images/login/news_cover.png">
                    <p class="cover_title">签约项目正式落户辽宁自贸区</p>
                    <p class="cover_article">5月9日-10日，由政府主办，辽宁自贸区片区管委会、新区管委会承办的中国辽宁自由贸易试验区大连片区经济合作推介会在银帆宾馆举行。</p>
                </div>
                <div class="news-list">
                    <ul>
                        <li>
                           <div class="news_left">
                                <p  class="news_order">01</p>  <!--href="javascript:void(0)"-->
                                <p class="news_time">2019-05-06</p>
                            </div>
                            <div class="news_right">
                                <p class="news_tit"> <a href="javascript:void(0)">消费金融和供应链金融有什么不同？哪家平台做的好点？ </a></p>
                                <p class="news_con">消费金融面向个人，典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析，
                                    典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析</p>
                            </div>
                        </li>
                        <li>
                            <div class="news_left">
                                <p  class="news_order">01</p>  <!--href="javascript:void(0)"-->
                                <p class="news_time">2019-05-06</p>
                            </div>
                            <div class="news_right">
                                <p class="news_tit"> <a href="javascript:void(0)">消费金融和供应链金融有什么不同？哪家平台做的好点？ </a></p>
                                <p class="news_con">消费金融面向个人，典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析，典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析</p>
                            </div>
                        </li>
                        <li>
                            <div class="news_left">
                                <p  class="news_order">01</p>  <!--href="javascript:void(0)"-->
                                <p class="news_time">2019-05-06</p>
                            </div>
                            <div class="news_right">
                                <p class="news_tit"> <a href="javascript:void(0)">消费金融和供应链金融有什么不同？哪家平台做的好点？ </a></p>
                                <p class="news_con">消费金融面向个人，典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析，
                                    典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析</p>
                            </div>
                        </li>
                        <li>
                            <div class="news_left">
                                <p  class="news_order">01</p>  <!--href="javascript:void(0)"-->
                                <p class="news_time">2019-05-06</p>
                            </div>
                            <div class="news_right">
                                <p class="news_tit"> <a href="javascript:void(0)">消费金融和供应链金融有什么不同？哪家平台做的好点？ </a></p>
                                <p class="news_con">消费金融面向个人，典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析，
                                    典型模式是 “在线、无抵押”，依赖平台积累的用户行为史和大数据分析</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
    <div class="row bs-reset">
        <div class="col-xs-12 bs-reset">
            <div class="login-copyright text-center">
                <p>  Copyright © 2017 浙江景瑞信息科技有限公司.</p>
            </div>
        </div>
    </div>
</div>

</div>

<div class="floatWindow">
    <div class="service">
        <a href="http://p.qiao.baidu.com/cps/chat?siteId=13395725&userId=27872032" target="_blank">
            <span class="glyphicon glyphicon-headphones"></span>
        </a>
    </div>
    <div class="toTOP">
        <a href="javascript:void(0)">
            <span class="glyphicon glyphicon-menu-up"></span>
        </a>
    </div>

</div>



<!--[if lt IE 9]>
<script src="${base.contextPath}/lib/assets/global/plugins/respond.min.js"></script>
<script src="${base.contextPath}/lib/assets/global/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="${base.contextPath}/lib//assets/global/plugins/backstretch/jquery.backstretch.min.js" type="text/javascript"></script>
<script src="${base.contextPath}/lib/swiper/js/swiper.min.js"></script>
<script src="${base.contextPath}/lib/eCharts/echarts.min.js"></script>
<script src="${base.contextPath}/resources/js/login/shopPoint.js"></script>
<script src="${base.contextPath}/resources/js/login/login.js" type="text/javascript"></script>
<script src="${base.contextPath}/resources/js/login/login_map.js" type="text/javascript"></script>
</body>
</html>