<#-- 
* description: 页面合并配置
* version: 3.0
* author:zhizheng.yang@jingrui.com
-->
<#include "../include/header.html">
<body>
<script>
    var viewModel = Jrap.createGridViewModel("#grid");
</script>
<div id="page-content">
    <div class="pull-left" id="toolbar-btn" style="padding-bottom: 10px">
        <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:create"><i class="fa fa-plus-square" style="margin-right:3px;"></i><@spring.message "jrap.new"/></span>
        <span class="btn btn-success k-grid-save-changes"   data-bind="click:save" style="float:left;margin-right:5px;"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "jrap.save"/></span>
        <span  class="btn btn-danger"  data-bind="click:remove" style="float:left;"><i class="fa fa-trash-o" style="margin-right:3px;"></i><@spring.message "jrap.delete"/></span>
    </div>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <div style="clear: both">
        <div id="grid"></div>
    </div>
</div>
<script>
    var crudServiceBaseUrl = "${base.contextPath}/sys/resourceCustomization",
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/query?resourceId=" + ${RequestParameters.resourceId},
                    type: "POST",
                    dataType: "json"
                },
                create: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                update: {
                    url: crudServiceBaseUrl + "/submit",
                    contentType: "application/json",
                    type: "POST"
                },
                destroy: {
                    url: crudServiceBaseUrl + "/remove",
                    contentType: "application/json",
                    type: "POST"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Jrap.prepareSubmitParameter(options, type);
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return Jrap.prepareQueryParameter(viewModel.model.toJSON(), options)
                    }
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "resourceCustomizationId",
                    fields: {
                        url: {
                            type: "string",
                            validation: {required: true}
                        },
                        sequence: {
                            type:"number",
                            validation: {required: true}
                        },
                        resourceId: {defaultValue:${RequestParameters.resourceId}},
                        enableFlag: {
                            defaultValue: 'Y',
                            type: 'boolean',
                            checkedValue: 'Y',
                            uncheckedValue: 'N'
                        }
                    }
                }
            }
        });

    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        autoResize:false,
        selectable: 'multiple, rowbox',
        navigatable: false,
        sortable: true,
        editable: true,
        height: '380px',
        columns: [{
            field: "url",
            title: '<@spring.message "resource.url"/>',
            width: 170,
        }, {
            field: "description",
            title: '<@spring.message "jrap.description"/>',
            width: 170,
        }, {
            field: "sequence",
            title: '<@spring.message "resourcecustomization.sequence"/>',
            width: 100,
        }, {
            field: "enableFlag",
            title: '<@spring.message "jrap.enableflag"/>',
            width: 60,
            headerAttributes: {
                style: "text-align: center"
            },
            attributes: {style: "text-align:center"}
        }]
    });
</script>
</body>
</html>