<#-- 
* description: 描述维护界面 
* version: 1.0 
* author:hailin.xu@jingrui.com
* --> 
<#include "../include/header.html">
<body>
	<script src="${base.contextPath}/common/language?var=languageData" type="text/javascript"></script>
	<script type="text/javascript">
        var viewModel = Jrap.createGridViewModel("#grid",{
            resourceTypeData : languageData
        })
   </script>

    <div id="page-content">
        <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
            <span class="btn btn-primary k-grid-add" data-hotkey="hotkey_create" style="float:left;margin-right:5px;" data-bind="click:create"><i class="fa fa-plus-square" style="margin-right:3px;"></i><@spring.message "jrap.new"/></span>
            <span class="btn btn-success k-grid-save-changes" data-hotkey="hotkey_save" data-bind="click:save" style="float:left;margin-right:5px;"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "jrap.save"/></span>
            <span class="btn btn-danger" data-hotkey="hotkey_delete" data-bind="click:remove" style="float:left;margin-right:5px;"><i class="fa fa-trash-o" style="margin-right:3px;"></i><@spring.message "jrap.delete"/></span>
            <span class="btn btn-primary k-grid-excel" style="float:left;" data-bind="click:exportExcel"><i class="fa fa-file-excel-o" style="margin-right:3px;"></i><@spring.message "jrap.exportexcel"/></span>
        </div>
        <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
        <div id="queryPanel" class="pull-right" style="margin-right:5px;padding-bottom:10px;">
            <div class="k-query-simple" id="query-form">
                <input type="text" style="width:150px;margin-right:5px" placeholder='<@spring.message "prompt.promptcode"/>' data-bind="value:model.promptCode" class="k-textbox">
                <input type="text" style="width:150px;margin-right:5px" placeholder='<@spring.message "prompt.description"/>' data-bind="value:model.description" class="k-textbox">
                <select data-role="combobox" data-value-primitive="true" placeholder='<@spring.message "prompt.sourcelang"/>' style="width:150px;" data-text-field="description" data-value-field="langCode" data-bind="source: resourceTypeData,value:model.lang"></select>
            </div>
            <script>kendo.bind($('#query-form'), viewModel);</script>
        </div>
        <script>
            $('#queryPanel').kendoQueryPanel({
                queryFunction: function () {
                    viewModel.query();
                },
                resetFunction: function () {
                    viewModel.reset();
                }
            })
        </script>
        <div style="clear:both">
            <div id="grid"></div>
        </div>
    </div>
	
	<script type="text/javascript">
		Jrap.initEnterQuery("#query-form",viewModel.query);
        var dataSource = Jrap.createGridDataSource({
            url:"${base.contextPath}/sys/prompt/",
            model: {
                id: "promptCode",
                fields: {
                    promptCode:{validation: {required: true}},
                    lang: {validation: {required: true}},
                    description: {validation: {required: true}, type: "string"}
                }
            },
            sort:{field: 'promptCode', dir: 'asc'}
        });

        var grid = $("#grid").kendoGrid({
                dataSource: dataSource,
                navigatable: true,
                rownumber:true,
                resizable: true,
                scrollable: true,
                editable: true,
                selectable : 'multiple, rowbox',
                sortable: true,
                dataBound: function () {
                    if (parent.autoResizeIframe) {
                        parent.autoResizeIframe('${RequestParameters.functionCode!}')
                    }
                },
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        field: "promptCode",
                        title: '<@spring.message "prompt.promptcode"/>',
                        width: 150,
                        editor: function (container, options) {
                            $('<input id="userCode" required name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoMaskedTextBox({
                                    caseLetter: "lower"
                                });
                        },
                    },
                    {
                        field: "lang",
                        title: '<@spring.message "prompt.sourcelang"/>',
                        width: 70,
                        template: function (dataItem) {
                            var v = dataItem.lang;
                            $.each(languageData, function (i, n) {
                                if ((n.langCode || '').toLowerCase() == (v || '').toLowerCase()) {
                                    v = n.description;
                                    return false;
                                }
                            });
                            return v;
                        },
                        editor: function (container, options) {
                            $('<input required name="' + options.field + '"/>').appendTo(container).kendoDropDownList({
                                dataTextField: "description",
                                dataValueField: "langCode",
                                dataSource: languageData
                            });
                        },
                        sortable: false
                    },
                    {
                        field: "description",
                        title: '<@spring.message "prompt.description"/>',
                        width: 250,
                        sortable: false
                    }]
            }).data("kendoGrid");

    </script>
</body>
</html>
