<#include "../include/header.html">
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="${base.contextPath}/common/code?goodStatusData=GOOD.STATUS"
        type="text/javascript"></script>
<script type="text/javascript">
  var viewModel = Jrap.createGridViewModel("#grid");
</script>
<style>
  .k-dropdown-wrap {
    height: 28px;
  }
</style>
<body>
<div id="page-content">
  <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
    <span onclick="saveGood()" class="btn btn-success"
          style="float:left;margin-right:5px;"><@spring.message "jrap.save"/></span>
  </div>
  <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
  <div class="pull-right" id="query-form" style="padding-bottom:10px;">
    <input id="status" placeholder='<@spring.message "good.status"/>' type="text"
           style="float:left;width:150px;margin-right:5px;" data-bind="value:model.status">
    <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
           placeholder='<@spring.message "Good.goodName"/>'
           data-bind="value:model.goodName" class="k-textbox">
    <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
           placeholder='<@spring.message "Good.documentType"/>'
           data-bind="value:model.documentType" class="k-textbox">
    <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
           placeholder='<@spring.message "Good.productCode"/>'
           data-bind="value:model.productCode" class="k-textbox">
    <span class="btn btn-primary" style="float:left;width:70px" data-bind="click:query"
          type="submit"><@spring.message "jrap.query"/></span>
    <div style="clear:both"></div>
  </div>
  <script>
    $("#status").kendoComboBox({
      dataTextField: "meaning",
      dataValueField: "value",
      valuePrimitive: true,
      dataSource: goodStatusData
    });
  </script>
  <script>
    viewModel.model.set("status", "VALID");
    kendo.bind($('#query-form'), viewModel);
  </script>
  <div style="clear:both">
    <div id="grid"></div>
  </div>
</div>

<script type="text/javascript">
  Jrap.initEnterQuery('#query-form', viewModel.query);
  var BaseUrl = _basePath;
  var dataSource = new kendo.data.DataSource({
    transport: {
      read: {
        url: BaseUrl + "/afd/good/query",
        type: "POST",
        dataType: "json"
      },
      update: {
        url: BaseUrl + "/afd/good/submit",
        type: "POST",
        contentType: "application/json"
      },
      destroy: {
        url: BaseUrl + "/afd/good/remove",
        type: "POST",
        contentType: "application/json"
      },
      create: {
        url: BaseUrl + "/afd/good/submit",
        type: "POST",
        contentType: "application/json"
      },
      parameterMap: function (options, type) {
        if (type !== "read" && options.models) {
          var datas = Jrap.prepareSubmitParameter(options, type)
          return kendo.stringify(datas);
        } else if (type === "read") {
          return Jrap.prepareQueryParameter(viewModel.model.toJSON(), options)
        }
      }
    },
    batch: true,
    serverPaging: true,
    pageSize: 10,
    schema: {
      data: 'rows',
      total: 'total',
      model: {
        id: "goodId",
        fields: {
          enabledFlag: {defaultValue: 'Y', type: 'boolean', checkedValue: 'Y', uncheckedValue: 'N'}
        },
        editable: function (col) {
          if (col == "enabledFlag" || col == "endDate") {
            return true;
          }
          return false;
        },
      }
    }
  });

  $("#grid").kendoGrid({
    dataSource: dataSource,
    resizable: true,
    scrollable: true,
    navigatable: false,
    selectable: 'multiple, rowbox',
    dataBound: function () {
      if (parent.autoResizeIframe) {
        parent.autoResizeIframe('${RequestParameters.functionCode!}')
      }
    },
    pageable: {
      pageSizes: [5, 10, 20, 50],
      refresh: true,
      buttonCount: 5
    },
    editable: true,
    columns: [

      {
        field: "goodName",
        title: '<@spring.message "good.goodname"/>',
        width: 120
      },
      {
        field: "documentCategory",
        title: '<@spring.message "good.documentcategory"/>',
        width: 120
      },
      {
        field: "documentType",
        title: '<@spring.message "good.documenttype"/>',
        width: 120
      },
      {
        field: "description",
        title: '<@spring.message "good.description"/>',
        width: 120
      },
      {
        field: "unitPrice",
        title: '<@spring.message "good.unitprice"/>',
        width: 120
      },
      {
        field: "totalNumber",
        title: '<@spring.message "good.totalnumber"/>',
        width: 120
      },
      {
        field: "totalAmount",
        title: '<@spring.message "good.totalamount"/>',
        width: 120
      },
      {
        field: "surplusAmount",
        title: '<@spring.message "good.surplusamount"/>',
        width: 120
      },

      {
        field: "startDate",
        title: '<@spring.message "good.startdate"/>',
        width: 100,
        headerAttributes: {
          style: "text-align: center"
        },
        attributes: {style: "text-align:center"},
        format: "{0:yyyy-MM-dd}",
        editor: function (container, options) {
          var end = options.model.startDate;
          var opts = {
            format: "yyyy-MM-dd"
          };
          if (end) {
            opts.max = end;
          }
          $('<input name="' + options.field + '"/>')
          .appendTo(container)
          .kendoDatePicker(opts);
        },
        sortable: false
      },
      {
        field: "endDate",
        title: '<@spring.message "good.enddate"/>',
        width: 100,
        nullable: true,
        headerAttributes: {
          style: "text-align: center"
        },
        attributes: {style: "text-align:center"},
        format: "{0:yyyy-MM-dd}",
        editor: function (container, options) {
          var opts = {
            format: "yyyy-MM-dd"
          };
          $('<input name="' + options.field + '"/>')
          .appendTo(container)
          .kendoDatePicker(opts);
        },
        sortable: false
      },
      {
        field: "enabledFlag",
        title: '<@spring.message "good.enabledflag"/>',
        headerAttributes: {
          "class": "table-header-cell",
          style: "text-align: center"
        },
        attributes: {style: "text-align:center"},

        width: 120
      },
      {
        field: "status",
        title: '<@spring.message "good.status"/>',
        width: 80,
        template: function (dataItem) {
          var v = dataItem.status ? dataItem.status : "";
          $.each(goodStatusData, function (i, n) {
            if ((n.value || '').toLowerCase() == (v || '').toLowerCase()) {
              v = n.meaning;
              return v;
            }
          });
          return v;
        },
        editor: function (container, options) {
          $('<input name="' + options.field + '"/>')
          .appendTo(container)
          .kendoDropDownList({
            dataTextField: "description",
            dataValueField: "value",
            valuePrimitive: true,
            dataSource: goodStatusData
          });
        }
      },
    ],
    editable: true
  });

  /*商品信息的保存*/
  function saveGood() {
    var flag = true;
    var submitdata = dataSource.data();
    //循环遍历提交数据，校验结束日期
    submitdata.forEach(function (v) {
      var sDate = new Date(v.startDate);
      var eDate = new Date(v.endDate);
      if (sDate.getTime() > eDate.getTime()) {
        flag = false;
        return;
      } else {
        v.__status = "update";
      }
      if (flag == true) {
        $.ajax({
          type: "POST",
          url: '${base.contextPath}/afd/good/submit',
          dataType: "json",
          data: kendo.stringify(submitdata),
          async: false,
          contentType: "application/json",
          success: function (data) {
            if (data.success = "true") {
              kendo.ui.showInfoDialog({
                title: "提示",
                message: "保存成功"
              }).done(function (e) {
              });
            } else {
              kendo.ui.showInfoDialog({
                title: "提示",
                message: "保存失败",
                iconClass: "fa fa-times-circle", // 提示图标
                dialogClass: "k-dialog-error" // 图标类型
              }).done(function (e) {
              });
            }
          }
        });
      } else {
        kendo.ui.showErrorDialog({
          title: $l('jrap.error'),
          message: '结束日期不能大于开始日期'
        });

      }

    });

  }
</script>
</body>
</html>