<#include "../include/header.html">
<body>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    .left {
        width: 300px;
        height: 100%;
    }

    .right {
        position: absolute;
        top: 0;
        left: 301px;
        right: 0;
        height: 100%;
    }
</style>
<script type="text/javascript">
    var viewModelLeft = kendo.observable({
        model: {
            productCode: "",
            configType:""
        },
        rows: []
    });
    var viewModelRight = Jrap.createGridViewModel("#gridRight");

    kendo.bind($('#left'), viewModelLeft);
    kendo.bind($('#right'), viewModelRight);

    var BaseUrl = _basePath;

    function queryHead() {
        $.ajax({
            url: BaseUrl + '/pro/product/config/query',
            type: "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: {
                "productCode": viewModelLeft.model.productCode,
                "configType": viewModelLeft.model.configType
            },
            async: false,
            success: function (args) {
                viewModelLeft.rows = args.rows;
            }
        });
    }


    function queryLine() {
        var columns = [{}];
        // 获取数据
        $.ajax({
            url: BaseUrl + '/pro/product/config/query',
            type: "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: {
                "productCode": viewModelRight.model.productCode,
                "configType": viewModelRight.model.configType
            },
            async: false,
            success: function (args) {
                if (args.rows.length > 0) {
                    var columnsArr = new Array(args.rows.length);
                    for (var k = 0; k < args.rows.length; k++) {
                        var column = {
                            field: args.rows[k].columnName,
                            width: 100,
                            title: args.rows[k].prompt,
                        };
                        columnsArr[k] = column;
                    }
                    columns = columnsArr;
                }
            }
        });
        var gridRight = $("#gridRight").kendoGrid({
            dataSource: null,
            resizable: true,
            scrollable: true,
            navigatable: false,
            dataBound: function () {
                if (parent.autoResizeIframe) {
                    parent.autoResizeIframe('${RequestParameters.functionCode!}')
                }
            },
            columns: columns,
            editable: false
        });
    }
</script>
<div class="left">
    <form id="mainform" class="form-horizontal">
        <div class="row">
            <div class="form-group">
                <div class="col-sm-6">
                    <div class="col-sm-12">
                        <input type="text" id="product" placeholder='<@spring.message "product.product"/>'
                               style="width:100%" required
                               data-bind="value:model.product">
                        <script>
                            $("#product").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_PRODUCT")},
                                {
                                    query: function (e) {
                                        e.param['version'] = '1';
                                        e.param['displayFlag'] = 'Y';
                                    },
                                    select: function (e) {
                                        var item = e.item;
                                        // 查询头信息
                                        viewModelLeft.model.set("productCode", item.productCode);
                                        viewModelLeft.model.set("configType", "H");
                                        queryHead();
                                        // 查询行信息
                                        viewModelRight.model.set("productCode", item.productCode);
                                        viewModelRight.model.set("configType", "L");
                                        queryLine();
                                    }
                                }));
                        </script>
                    </div>
                </div>
                <div class="col-sm-6">
                    <span class="btn btn-primary k-grid-add" style="float:left" data-bind="click:create"><@spring.message "计算"/></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label style="text-align: center"><@spring.message "product.columncode"/></label>
            </div>
            <div class="col-sm-5">
                <label style="text-align: center"><@spring.message "product.columnname"/></label>
            </div>
            <div class="col-sm-4">
                <label style="text-align: center"><@spring.message "product.columnvalue"/></label>
            </div>
        </div>
        <#if viewModelLeft.rows??>
            <#list viewModelLeft.rows as row>
                <div class="row">
                    <div class="col-sm-3">
                        <label style="text-align: center">${row.columnCode}</label>
                    </div>
                    <div class="col-sm-5">
                        <label style="text-align: center">${row.prompt}</label>
                    </div>
                    <div class="col-sm-4">
                        <label style="text-align: center"></label>
                    </div>
                </div>
            </#list>
        </#if>
    </form>
</div>
<div class="right">
    <div style="clear:both">
        <div id="gridRight"></div>
    </div>
</div>
</body>
</html>