<#--
* description: 产品测算
* version: 2.0
* author:ivan_stephen@sina.cn
* #{copyright}#
*
-->
<#include "../include/header.html">
<body>
<script src="${base.contextPath}/lib/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script>
    var BaseUrl = _basePath;
    var business_type = "";
    viewModel = new kendo.observable({
        model: {
        }
    });
    $.ajax({
        url: BaseUrl + '/pro/business/type/query',
        type: "POST",
        dataType: "json",
        contentType: "application/x-www-form-urlencoded; charset=UTF-8",
        success: function (result) {
            business_type = result.rows;
            if(viewModel.model.get("businessType") == null || viewModel.model.get("businessType") != undefined){
                if($("#businessType").data("kendoComboBox") != undefined){
                    $("#businessType").data("kendoComboBox").refresh();
                    $("#businessType").data("kendoComboBox").setDataSource(business_type);
                    $("#businessType").data("kendoComboBox").text("");
                    viewModel.model.set("businessType",null);
                    $("#businessType").data("kendoComboBox").trigger("change");
                }
            }
        },
    });
</script>
<div class="col-sm-6" style="margin-top: 10px;">
    <div style="padding:15px 15px 0">
        <div class="panel">
            <form class="form-horizontal" id="form-query" style="width:100%">
                <div class="form-group" style="padding-top: 10px">
                    <label class="col-sm-4 control-label"><@spring.message "businesstype.businesstype"/></label>
                    <div class="col-sm-8">
                        <input id="businessType" name="businessType" type=text
                               data-bind="value:model.businessType"
                               data-label="<@spring.message 'product.businessType'/>"
                               style="width:100%"
                               required
                        />
                    </div>
                    <script>
                        $("#businessType").kendoComboBox({
                            dataSource: business_type,
                            valuePrimitive: true,
                            dataTextField: "description",
                            dataValueField: "businessType"
                        });
                        $("#businessType").on('change', function () {
                            if (this.value != '') {
                                viewModel.model.set("businessType",this.value);
                            }else {
                                viewModel.model.set("businessType",null)
                            }
                        })
                    </script>
                </div>
                <div class="form-group" style="padding-top: 10px">
                    <label class="col-sm-4 control-label"><@spring.message "product.product"/></label>
                    <div class="col-sm-8">
                        <input id="productCode" name="productCode" type=text
                               data-bind="value:model.productCode"
                               data-label="<@spring.message 'product.productcode'/>"
                               style="width:100%"
                               required
                        />
                    </div>
                    <script>
                        $("#productCode").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_PRODUCT")}, {
                            query: function (e) {
                                e.param['enabledFlag'] = 'Y';
                                e.param['businessType'] = viewModel.model.businessType;
                            },
                            select: function (e) {
                                var item = e.item;
                                // 查询头信息
                                viewModel.model.set("productCode", item.productCode);
                                viewModel.model.set("productName", item.productName);
                                viewModel.model.set("configType", "H");
                                viewModel.model.set("version", item.version);
                            }
                        }));
                    </script>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"><@spring.message "product.productname"/></label>
                    <div class="col-sm-8">
                        <input id="productName" name="receivers" type="text" readonly="true" data-bind="value:model.productName" style="width:100%"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"><@spring.message "product.version"/></label>
                    <div class="col-sm-8">
                        <input id="version" name="receivers" type="text" readonly="true" data-bind="value:model.version" style="width:100%"/>
                    </div>
                </div>
                <div class="panel-footer text-center" id="toolbar">
                    <span class="btn btn-success k-grid-save-changes" onclick="submit()" type="button" style="margin-right: 5px;"><@spring.message "确定"/></span>
                </div>
            </form>
            <script>kendo.bind($('#form-query'), viewModel);</script>
        </div>
    </div>
</div>
<div id = "calculate">
</div>

<script type="text/javascript">
    var validator = $("#form-query").kendoValidator({
        valid: function (e) {
        },
        invalidMessageType: "tooltip"
    }).data("kendoValidator");
    function submit() {
            $.ajax({
                url: '${base.contextPath}/product/product_calculate.html',
                type: "POST",
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=UTF-8",
                data: {
                    productCode : viewModel.model.productCode
                }
            });

        var win = $("#calculate").kendoWindow({
            actions: ["Close"],
            title: '产品测算',
            visible: false,
            modal: true,
            width: 900,
            height: 400,
            iframe: true,
            content: '${base.contextPath}/product/product_calculate.html?productCode=' + viewModel.model.productCode,
            close: function (e) {
                // $("#grid").data('kendoGrid').dataSource.page(1);
            }
        }).data("kendoWindow");
        win.center().maximize().open();
    }
</script>
</body>
</html>