<#include "../include/header.html">
<body>
<style>
    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        width: 100%;
        height: 100%;
    }

    .left {
        width: 300px;
        height: 100%;
    }

    .right {
        position: absolute;
        top: 0;
        left: 301px;
        right: 0;
        height: 100%;
    }
</style>
<script type="text/javascript">
    var viewModelRight = Jrap.createGridViewModel("#gridRight");
    var viewModelLeft = new kendo.observable({
        model: {}
    });
    kendo.bind($('#left'), viewModelLeft);
    kendo.bind($('#right'), viewModelRight);
    var BaseUrl = _basePath;
    var productCode = '${RequestParameters.productCode!}';
</script>
<div class="left">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <span class="btn btn-primary k-grid-add" style="float:left;width:150px;margin-left:5px;"
                      onclick="calculate()"> <@spring.message "计算"/></span>
            </div>
            <div class="col-sm-6">
                <span class="btn btn-primary k-grid-add" style="float:right;width:150px;margin-right:5px;"
                      onclick="back()"> <@spring.message "返回"/></span>
            </div>
        </div>
    </div>
    <form id="mainform" class="form-horizontal">
        <div class="row">
            <div class="col-sm-3">
                <label class="" style="text-align: center"><@spring.message "product.columncode"/></label>
            </div>
            <div class="col-sm-5">
                <label class="" style="text-align: center"><@spring.message "product.columnname"/></label>
            </div>
            <div class="col-sm-4">
                <label class="" style="text-align: center"><@spring.message "product.columnvalue"/></label>
            </div>
        </div>
        <#if heads??>
        <#list heads as head>
        <div class="row">
            <div class="col-sm-2">
                <input type="text" style="text-align:left;width:80px;height: 8px;" class="k-textbox"
                       value="${head.columnCode!}" readonly>
            </div>
            <div class="col-sm-5">
                <input type="text" style="text-align:left;width:80px;height: 8px;" class="k-textbox"
                       value="${head.prompt!}" readonly>
            </div>
            <div class="col-sm-5">
                <input type="text" style="text-align:left;width:80px;height: 8px;" class="k-textbox"
                       id="${head.columnName!}"
                       value="${head.defaultValue!}"
                       data-bind="value:model.${head.columnName!}"
                <#if head.requireFlag == "Y"> required </#if>
                <#if head.readonlyFlag == "Y"> readonly </#if>
                <#if head.configType == "DATE">
                    type="date"
                <#elseif head.configType == "NUMBER">
                   type="number"
                <#else>
                  type="text"
                </#if>>
                <script>
                    $('#${head.columnName!}').kendoComboBox({
                         dataTextField: "meaning",
                         dataValueField: "value",
                         dataSource: {
                            transport: {
                                read: {
                                    url: _basePath + '/common/code/'+ ${head.syscode!} +'/',
                                    dataType: "json"
                                }
                            }
                        },
                        select: function (e) {
                            viewModelLeft.model.set("${head.columnName!}", e.dataItem.value);
                        }
                    }).data("kendoComboBox");

                    kendo.bind($('#${head.columnName!}'), viewModelLeft);
           </script>
       </div>
    </div>
  </#list>
  </#if>
</form>
</div>
<div class="right">
    <div style="clear:both">
        <div id="gridRight"></div>
    </div>
</div>
<script type="text/javascript">
    var dataSource = [{}];
    var gridRight = $("#gridRight").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        columns: [
            {
                field: "times",
                title: '<@spring.message "期数"/>',
                width: 70
            },
            {
                field: "calcDate",
                title: '<@spring.message "计算日"/>',
                width: 70
            },
            {
                field: "dueDate",
                title: '<@spring.message "支付日/到期日"/>',
                width: 120
            },
            {
                field: "dueAmount",
                title: '<@spring.message "应收金额"/>',
                width: 70
            },
            {
                field: "netDueAmount",
                title: '<@spring.message "不含税应收金额"/>',
                width: 120
            },
            {
                field: "vatDueAmount",
                title: '<@spring.message "增值税额"/>',
                width: 70
            },
            {
                field: "principal",
                title: '<@spring.message "应收本金"/>',
                width: 70
            },
            {
                field: "netPrincipal",
                title: '<@spring.message "不含税本金"/>',
                width: 120
            },
            {
                field: "vatPrincipal",
                title: '<@spring.message "本金增值税额"/>',
                width: 120
            },
            {
                field: "interest",
                title: '<@spring.message "应收利息"/>',
                width: 70
            },
            {
                field: "netInterest",
                title: '<@spring.message "不含税利息"/>',
                width: 70
            },
            {
                field: "vatInterest",
                title: '<@spring.message "利息增值税额"/>',
                width: 120
            },
            {
                field: "cfType",
                title: '<@spring.message "现金流类型"/>',
                width: 120
            },
            {
                field: "cfDirection",
                title: '<@spring.message "现金流方向"/>',
                width: 120
            },
            {
                field: "outstandingRental",
                title: '<@spring.message "当期剩余租金"/>',
                width: 120
            },
            {
                field: "outstandingPrincipal",
                title: '<@spring.message "当期剩余本金"/>',
                width: 120
            },
            {
                field: "outstandingInterest",
                title: '<@spring.message "当期剩余利息"/>',
                width: 120
            }
        ],
        editable: false
    });

    // 计算
    function calculate() {
        $.ajax({
            url: '${base.contextPath}/product/calculate',
            type: "POST",
            dataType: "json",
            contentType: "application/x-www-form-urlencoded; charset=UTF-8",
            data: {
                productCode: viewModel.model.productCode
            },
            async: false,
            success: function (rows) {
                dataSource = rows;
                gridRight.refresh();
            }
        });
    }
</script>
</body>
</html>