<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.function.mapper.RoleResourceItemMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.function.dto.RoleResourceItem">
        <id column="RSI_ID" property="rsiId" jdbcType="DECIMAL"/>
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL"/>
        <result column="RESOURCE_ITEM_ID" property="resourceItemId" jdbcType="DECIMAL"/>
        <result column="OBJECT_VERSION_NUMBER" property="objectVersionNumber" jdbcType="DECIMAL"/>
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL"/>
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL"/>
        <result column="CREATION_DATE" property="creationDate" jdbcType="TIMESTAMP"/>
        <result column="CREATED_BY" property="createdBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATED_BY" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="LAST_UPDATE_DATE" property="lastUpdateDate" jdbcType="TIMESTAMP"/>
        <result column="LAST_UPDATE_LOGIN" property="lastUpdateLogin" jdbcType="DECIMAL"/>
        <result column="ATTRIBUTE_CATEGORY" property="attributeCategory" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE1" property="attribute1" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE2" property="attribute2" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE3" property="attribute3" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE4" property="attribute4" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE5" property="attribute5" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE6" property="attribute6" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE7" property="attribute7" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE8" property="attribute8" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE9" property="attribute9" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE10" property="attribute10" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE11" property="attribute11" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE12" property="attribute12" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE13" property="attribute13" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE14" property="attribute14" jdbcType="VARCHAR"/>
        <result column="ATTRIBUTE15" property="attribute15" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        RSI_ID, ROLE_ID, RESOURCE_ITEM_ID, OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID,
        CREATION_DATE, CREATED_BY, LAST_UPDATED_BY, LAST_UPDATE_DATE, LAST_UPDATE_LOGIN,
        ATTRIBUTE_CATEGORY, ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3, ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6,
        ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9, ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12, ATTRIBUTE13,
        ATTRIBUTE14, ATTRIBUTE15
    </sql>

    <delete id="deleteByResourceItemId">
        DELETE FROM SYS_ROLE_RESOURCE_ITEM  WHERE RESOURCE_ITEM_ID = #{0}
    </delete>

    <delete id="deleteByRoleIdAndFunctionId">
        DELETE FROM SYS_ROLE_RESOURCE_ITEM
        WHERE ROLE_ID = #{0}
        AND RESOURCE_ITEM_ID IN
        (SELECT SRI.RESOURCE_ITEM_ID
         FROM SYS_RESOURCE_ITEM_B SRI  JOIN SYS_FUNCTION_RESOURCE SRF ON SRI.OWNER_RESOURCE_ID = SRF.RESOURCE_ID
         WHERE SRF.FUNCTION_ID =  #{1})
    </delete>

    <insert id="insert" parameterType="com.jingrui.jrap.function.dto.RoleResourceItem">
        INSERT INTO SYS_ROLE_RESOURCE_ITEM (RSI_ID, ROLE_ID, RESOURCE_ITEM_ID,
          OBJECT_VERSION_NUMBER, REQUEST_ID, PROGRAM_ID,
          CREATION_DATE, CREATED_BY, LAST_UPDATED_BY,
          LAST_UPDATE_DATE, LAST_UPDATE_LOGIN, ATTRIBUTE_CATEGORY,
          ATTRIBUTE1, ATTRIBUTE2, ATTRIBUTE3,
          ATTRIBUTE4, ATTRIBUTE5, ATTRIBUTE6,
          ATTRIBUTE7, ATTRIBUTE8, ATTRIBUTE9,
          ATTRIBUTE10, ATTRIBUTE11, ATTRIBUTE12,
          ATTRIBUTE13, ATTRIBUTE14, ATTRIBUTE15
          )
        values (#{rsiId,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}, #{resourceItemId,jdbcType=DECIMAL},
          1, #{requestId,jdbcType=DECIMAL}, #{programId,jdbcType=DECIMAL},
          current_timestamp, #{createdBy,jdbcType=DECIMAL}, #{lastUpdatedBy,jdbcType=DECIMAL},
          current_timestamp, #{lastUpdateLogin,jdbcType=DECIMAL}, #{attributeCategory,jdbcType=VARCHAR},
          #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR},
          #{attribute4,jdbcType=VARCHAR}, #{attribute5,jdbcType=VARCHAR}, #{attribute6,jdbcType=VARCHAR},
          #{attribute7,jdbcType=VARCHAR}, #{attribute8,jdbcType=VARCHAR}, #{attribute9,jdbcType=VARCHAR},
          #{attribute10,jdbcType=VARCHAR}, #{attribute11,jdbcType=VARCHAR}, #{attribute12,jdbcType=VARCHAR},
          #{attribute13,jdbcType=VARCHAR}, #{attribute14,jdbcType=VARCHAR}, #{attribute15,jdbcType=VARCHAR}
          )
    </insert>

    <select id="selectResourceItemsByRole" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT SRRI.RSI_ID,SRRI.ROLE_ID,SRRI.RESOURCE_ITEM_ID
        FROM SYS_ROLE_RESOURCE_ITEM SRRI
        WHERE SRRI.ROLE_ID = #{roleId,jdbcType=DECIMAL}
    </select>

    <select id="selectByRoleIdAndResourceItemId" resultMap="BaseResultMap">
        SELECT SRRI.RSI_ID
        FROM SYS_ROLE_RESOURCE_ITEM SRRI
        WHERE SRRI.ROLE_ID=#{0} AND SRRI.RESOURCE_ITEM_ID = #{1}
    </select>

    <select id="selectForCache" resultMap="BaseResultMap">
        SELECT RSI_ID, ROLE_ID, RESOURCE_ITEM_ID
        from SYS_ROLE_RESOURCE_ITEM
    </select>
</mapper>