<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.product.mapper.DocumentTypeMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.product.dto.DocumentType">
        <result column="DOCUMENT_TYPE" property="documentType" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR" />
        <result column="CODING_RULE" property="codingRule" jdbcType="VARCHAR" />
        <result column="WORKFLOW_CODE" property="workflowCode" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>

    <select id="selectByDocumentType" resultMap="BaseResultMap">
        select t.document_category,
			   t.document_type,
			   t.description,
			   t.coding_rule,
			   t.workflow_code,
               t.business_type,
			   t.enabled_flag
          from pro_document_type t
        <where>
            <if test="documentCategory !=null">
                AND t.document_category = #{documentCategory,jdbcType=VARCHAR}
            </if>
            <if test="documentType !=null">
                AND t.document_type = #{documentType,jdbcType=VARCHAR}
            </if>
            AND t.enabled_flag = 'Y'
        </where>
    </select>
</mapper>