<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.product.mapper.DocumentCategoryMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.product.dto.DocumentCategory">
        <result column="DOCUMENT_CATEGORY" property="documentCategory" jdbcType="VARCHAR" />
        <result column="DECRIPTION" property="decription" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
    </resultMap>
</mapper>