<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.product.mapper.ItemModelMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.product.dto.ItemModel">
        <result column="MODEL_ID" property="modelId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="BRAND" property="brand" jdbcType="VARCHAR" />
        <result column="SERIES" property="series" jdbcType="VARCHAR" />
        <result column="MODEL" property="model" jdbcType="VARCHAR" />
        <result column="COLOR" property="color" jdbcType="VARCHAR" />
        <result column="AREA" property="area" jdbcType="VARCHAR" />
        <result column="LOCATION" property="location" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR" />
        <result column="REMARK" property="remark" jdbcType="VARCHAR" />
        <result column="PROGRAM_APPLICATION_ID" property="programApplicationId" jdbcType="DECIMAL" />
        <result column="PROGRAM_UPDATE_DATE" property="programUpdateDate" jdbcType="DATE" />
    </resultMap>


</mapper>