<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.product.mapper.ProductMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.product.dto.Product">
        <result column="PRODUCT_CODE" property="productCode" jdbcType="VARCHAR"/>
        <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR"/>
        <result column="PRODUCT_TYPE" property="productType" jdbcType="VARCHAR"/>
        <result column="PRODUCT_CLASS" property="productClass" jdbcType="VARCHAR"/>
        <result column="DECRIPTION" property="decription" jdbcType="VARCHAR"/>
        <result column="BUSINESS_TYPE" property="businessType" jdbcType="VARCHAR"/>
        <result column="LINE_CODE" property="lineCode" jdbcType="VARCHAR"/>
        <result column="MODEL_ID" property="modelId" jdbcType="DECIMAL"/>
        <result column="MODEL" property="model" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="CALCULATE" property="calculate" jdbcType="VARCHAR"/>
        <result column="RATE_TYPE" property="rateType" jdbcType="VARCHAR"/>
        <result column="VERSION" property="version" jdbcType="INTEGER"/>
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="DATE"/>
        <result column="END_DATE" property="endDate" jdbcType="DATE"/>
    </resultMap>

    <sql id="Base_Column_List">
        PRODUCT_CODE, PRODUCT_NAME, PRODUCT_TYPE, PRODUCT_CLASS, PRODUCT_CLASS, DECRIPTION, BUSINESS_TYPE, LINE_CODE, MODEL_ID, COMPANY_ID, CALCULATE, RATE_TYPE, VERSION, ENABLED_FLAG, START_DATE, END_DATE
    </sql>

    <select id="selectProduct" parameterType="com.jingrui.jrap.product.dto.Product" resultMap="BaseResultMap">
        select
            product_code,
            product_name,
            product_type,
            product_class,
            decription,
            business_type,
            line_code,
            model_id,
            company_id,
            calculate,
            rate_type,
            version,
            enabled_flag,
            start_date,
            end_date
        from
        pro_product
        <where>
            <if test="productCode != null">
                and product_code = #{productCode,jdbcType=VARCHAR}
            </if>
            <if test="productName != null">
                and product_name = #{productName,jdbcType=VARCHAR}
            </if>
            <if test="productType != null">
                and product_type = #{productType,jdbcType=VARCHAR}
            </if>
            <if test="productClass != null">
                and product_class = #{productClass,jdbcType=VARCHAR}
            </if>
            <if test="decription != null">
                and decription = LIKE CONCAT('%', CONCAT(#{decription,jdbcType=VARCHAR}, '%'))
            </if>
            <if test="businessType != null">
                and business_type = #{businessType,jdbcType=VARCHAR}
            </if>
            <if test="lineCode != null">
                and line_code = #{lineCode,jdbcType=VARCHAR}
            </if>
            <if test="companyId != null">
                and company_id = #{companyId}
            </if>
            <if test="version > 0">
                and version = #{productClass,jdbcType=INTEGER}
            </if>
            <if test="enabledFlag != null">
                and enabled_flag = #{enabledFlag,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>