<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jingrui.jrap.product.mapper.ProductFormulaMapper">
    <resultMap id="BaseResultMap" type="com.jingrui.jrap.product.dto.ProductFormula">
        <result column="FORMULA_ID" property="formulaId" jdbcType="DECIMAL" />
        <result column="CONFIG_ID" property="configId" jdbcType="DECIMAL" />
        <result column="MATRIX_TYPE" property="matrixType" jdbcType="VARCHAR" />
        <result column="MATRIX_INITIAL" property="matrixInitial" jdbcType="VARCHAR" />
        <result column="MATRIX_INTERVAL" property="matrixInterval" jdbcType="VARCHAR" />
        <result column="CALC_SEQ" property="calcSeq" jdbcType="DECIMAL" />
        <result column="CALC_FORMULA" property="calcFormula" jdbcType="VARCHAR" />
        <result column="ENABLED_FLAG" property="enabledFlag" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByConfigId" resultMap="BaseResultMap">
        select
            f.formula_id,
            f.config_id,
            f.matrix_type,
            f.matrix_initial,
            f.matrix_interval,
            f.calc_formula,
            f.calc_seq,
            f.enabled_flag
        from
            pro_product_formula f
        <where>
            f.enabled_flag = 'Y'
            <if test="configId != null">
                and f.config_id = #{configId}
            </if>
        </where>
    </select>
</mapper>