<#--
* description: 商户公告编辑页面
* version: 2.0
* author:yuliao.chen@jingrui.com
* version: 3.0
* author:qiang.zeng@jingrui.com
-->
<#include "../include/header.html"/>
<body>
<script src="${base.contextPath}/common/code?noticeTypeData=NOTICE.NOTICE_TYPE" type="text/javascript"></script>
<script src="${base.contextPath}/common/code?noticeStatusData=NOTICE.STATUS" type="text/javascript"></script>
<script type="text/javascript">
    var isedit = '${RequestParameters.isedit!0}';
    var noticeId ='${RequestParameters.noticeId!-1}';
    var viewModel = kendo.observable({
        model: {},
        closeWin: function (e) {
            parent.$("#newWin").data("kendoWindow").close();
        },
    });
    if (isedit != 0) {
        $.ajax({
            url: '${base.contextPath}/fnd/notice/selectOptions?noticeId='+ noticeId,
            success: function (args) {
                var a0 = args.rows[0] || {};
                for (var k in a0) {
                    viewModel.model.set(k, a0[k]);
                }
            }
        });
    }
</script>
<div id="page-content">
    <form id="mainform" class="form-horizontal">
        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.noticetype"/></label>
                    <div class="col-xs-8">
                        <input id="noticeType" type="text" data-bind="value:model.noticeType"
                               required
                               style="width: 100%;">
                        <script>
                            $("#noticeType").kendoComboBox({
                                dataSource: noticeTypeData,
                                valuePrimitive: true,
                                dataTextField: "meaning",
                                dataValueField: "value"
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.companyid"/></label>
                    <div class="col-xs-8">
                        <input id="companyId" type="text" data-bind="value:model.companyId,text:model.companyFullName"
                               style="width: 100%;">
                        <script>
                            $("#companyId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_COMPANY")}, {
                                query: function (e) {
                                }
                            }))
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "role.rolename"/></label>
                    <div class="col-xs-8">
                        <input id="roleId" type="text" data-bind="value:model.roleId,text:model.roleName"
                               style="width: 100%;">
                        <script>
                            $("#roleId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "LOV_ROLE")}, {
                                query: function (e) {
                                    // e.param['enabledFlag'] = 'Y';
                                }
                            }))
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.userid"/></label>
                    <div class="col-xs-8">
                        <input id="userId" type="text" data-bind="value:model.userId,text:model.userName"
                               style="width: 100%;">
                        <script>
                            $("#userId").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "user_lov")}, {
                                query: function (e) {
                                    // e.param['enabledFlag'] = 'Y';
                                }
                            }))
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.noticetitle"/></label>
                    <div class="col-xs-8">
                        <input id="noticeTitle" type="text" data-bind="value:model.noticeTitle" class="k-textbox"
                               style="width: 100%;">
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.noticedigest"/></label>
                    <div class="col-xs-8">
                        <input id="noticeDigest" type="text" data-bind="value:model.noticeDigest" class="k-textbox"
                               style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.noticedate"/></label>
                    <div class="col-xs-8">
                        <input id="noticeDate" type="text" data-bind="value:model.noticeDate"
                               required
                               style="width: 100%;">
                        <script>
                            $('#noticeDate').kendoDatePicker();
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.startdate"/></label>
                    <div class="col-xs-8">
                        <input id="startDate" type="text" data-bind="value:model.startDate"
                               style="width: 100%;">
                        <script>
                            $('#startDate').kendoDatePicker();
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.enddate"/></label>
                    <div class="col-xs-8">
                        <input id="endDate" type="text" data-bind="value:model.endDate"
                               style="width: 100%;">
                        <script>
                            $('#endDate').kendoDatePicker();
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label class="col-xs-4 control-label"
                           style="text-align: right"><@spring.message "notice.status"/></label>
                    <div class="col-xs-8">
                        <input id="status" type="text" data-bind="value:model.status"
                               readonly
                               style="width: 100%;">
                        <script>
                            $("#status").kendoComboBox({
                                dataSource: noticeStatusData,
                                valuePrimitive: true,
                                dataTextField: "meaning",
                                dataValueField: "value"
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="col-xs-2 control-label"
                           style="text-align: right"><@spring.message "notice.content"/></label>
                    <div class="col-xs-10">
                        <input id="content" type="text" data-bind="value:model.content" class="k-textbox"
                               style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="text-align: center">
            <span class="btn btn-success" onclick="save()" type="button"
                  style=" margin-right: 5%;border-radius: 3px;width: 100px;">提交</span>
            <span class="btn btn-default" data-bind="click:closeWin" type="button"
                  style="margin-right:25px;border-radius: 3px;width: 100px;">关闭</span>
        </div>
    </form>
</div>

<script type="text/javascript">
    kendo.bind($('#mainform'), viewModel);
    var BaseUrl = _basePath;
    // 保存
    function save() {
        var validator = $("#mainform").kendoValidator({
            invalidMessageType: "tooltip"
        }).data("kendoValidator");
        if(isedit==1){
            viewModel.model.set("__status", "update");
            viewModel.model.set("noticeId",noticeId);
        }else {
            viewModel.model.set("__status", "add");
            viewModel.model.set("status","N");
        }
        if (validator.validate()) {
            $.ajax({
                url: BaseUrl + '/fnd/notice/submit',
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                data: kendo.stringify([viewModel.model]),
                success: function (args) {
                    if (args.success === false) {
                        kendo.ui.showErrorDialog({
                            title: $l('jrap.error'),
                            message: args.message
                        });
                    } else {
                        kendo.ui.showInfoDialog({
                            title: $l('jrap.tip.info'),
                            message: $l('jrap.tip.success')
                        }).done(function (e) {
                            parent.$("#newWin").data("kendoWindow").close();
                        });
                    }
                }
            });
        }
    }
</script>
</body>
</html>